<div>
        <div class="container text-center my-2">
          <div class="row">
            <div class="col-3">
              <ul class="list-group shadow p-3 mb-5 bg-body-tertiary rounded">
                <li class="list-group-item active" aria-current="true">
                  KHUYẾN MÃI SỐC
                </li>
                <li class="list-group-item">THỊT, CÁ, TRỨNG, HẢI SẢN</li>
                <li class="list-group-item">RAU, CỦ, QUẢ</li>
                <li class="list-group-item">DẦU ĂN, NƯỚC CHẤM, GIA VỊ</li>
                <li class="list-group-item">THỰC PHẨM ĐÔNG MÁT</li>
                <li class="list-group-item">THỊT, CÁ, TRỨNG, HẢI SẢN</li>
                <li class="list-group-item">RAU, CỦ, QUẢ</li>
                <li class="list-group-item">DẦU ĂN, NƯỚC CHẤM, GIA VỊ</li>
                <li class="list-group-item">THỰC PHẨM ĐÔNG MÁT</li>
                <li class="list-group-item">THỊT, CÁ, TRỨNG, HẢI SẢN</li>
                <li class="list-group-item">RAU, CỦ, QUẢ</li>
                <li class="list-group-item">DẦU ĂN, NƯỚC CHẤM, GIA VỊ</li>
                <li class="list-group-item">THỰC PHẨM ĐÔNG MÁT</li>
              </ul>
            </div>
            <div class="col-9">
              <ul class="list-group list-group-horizontal mb-4">
                <li class="list-group-item">
                    <div><img src="images/rau-cu-trai-cay-202205261519146845.webp" class="img-thumbnail" alt="..."></div>
                    Rau, củ, quả
                </li>
                <li class="list-group-item">
                    <div><img src="images/thit-heo-202401080908298003.webp" class="img-thumbnail" alt="..."></div>
                    Thịt, cá
                </li>
                <li class="list-group-item">
                    <div><img src="images/bia-nuoc-co-con-202308281645335051.webp" class="img-thumbnail" alt="..."></div>
                    Bia, nước ngọt
                </li>
                <li class="list-group-item">
                    <div><img src="images/rau-cu-trai-cay-202205261519146845.webp" class="img-thumbnail" alt="..."></div>
                    Rau, củ, quả
                </li>
                <li class="list-group-item">
                    <div><img src="images/thit-heo-202401080908298003.webp" class="img-thumbnail" alt="..."></div>
                    Thịt, cá
                </li>
                <li class="list-group-item">
                    <div><img src="images/bia-nuoc-co-con-202308281645335051.webp" class="img-thumbnail" alt="..."></div>
                    Bia, nước ngọt
                </li>
              </ul>
              <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="h4">Rau, Củ, Quả</div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <img src="images/ca-rot-202312081116076334.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Cà rốt</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-success"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/ca-rot-202312081116076334.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Đậu xanh</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-success"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/ca-rot-202312081116076334.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Rau má</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-success"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/ca-rot-202312081116076334.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Mướp hương</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-success"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/ca-rot-202312081116076334.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Bắp cải thảo</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-success"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-dark m-3">Xem thêm...</button>
              </div>

              <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="h4">Trái cây</div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <img src="images/le-hoang-kim-202312081402287540.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Mận</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/le-hoang-kim-202312081402287540.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Táo</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/le-hoang-kim-202312081402287540.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Cóc</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/le-hoang-kim-202312081402287540.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Ổi</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/le-hoang-kim-202312081402287540.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Xoài</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-dark m-3">Xem thêm...</button>
              </div>

              <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                <div class="h4">Thịt, Cá, Trứng, Hải sản</div>
                <div class="container text-center">
                  <div class="row">
                    <div class="col">
                      <div class="card">
                        <img src="images/sellingpoint.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Mận</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/sellingpoint.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Táo</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/sellingpoint.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Cóc</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/sellingpoint.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Ổi</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card">
                        <img src="images/sellingpoint.jpg" class="card-img-top" alt="..." />
                        <div class="card-body">
                          <h5 class="card-title">Xoài</h5>
                          <p class="card-text">
                            100.000đ
                          </p>
                          <a href="#" class="btn btn-primary"><i class="fa-solid fa-bag-shopping"></i> Mua ngay</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <button type="button" class="btn btn-outline-dark m-3">Xem thêm...</button>
              </div>

            </div>
          </div>
        </div>
      </div>